@import "tailwindcss";

/* SF Pro Variable Font */
@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sf-pro: "SF Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0978FF;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sf-pro: var(--font-sf-pro);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sf-pro);
}

/* Utility class for SF Pro Rounded Black */
.font-sf-pro-rounded-black {
  font-family: var(--font-sf-pro-rounded-black);
  font-weight: 900;
}
